<%- include("partials/header")%>
<%- include("partials/nav")%>

<form action="/get-email" method="post" class="m-auto w-25 mt-5">


<!-- //required maxlength minlength -->
    <!-- <form class="m-auto w-25 mt-5"></form> -->
    <h1 class="mb-4">Enter Existing Email</h1>


    <input class="form-control mb-3" type="email" placeholder="example@gmail.com" name="email">
    <input class="form-control mb-3" type="text" placeholder="Subject of mail" name="subject">
    <input class="form-control mb-3" type="text" placeholder="Body of mail" name="body">

<button class="btn btn-primary">Send mail</button>
    <p><a href="/sign-up">Signup</a> | <a href="/sign-in">Signin</a></p>

</form>
<%- include("partials/footer")%>